{#<hr style="margin: 40px 0;#}
{#	padding: 0;#}
{#	height: 0;#}
{#	border: none;#}
{#	border-top: 2px dashed black;">#}
<div class="flex-container">
    <div class="flex-item">
        <img src="/media/ruler.png" alt="" class="round" style="background-color: #20c997;width: 80%;height: 80%">
        <p>Текст под первой фотографией</p>
    </div>
    <div class="flex-item">
        <img src="/media/badge.png" alt="" class="round" style="background-color: #6a1a21;width: 80%;height: 80%">
        <p>Текст под второй фотографией</p>
    </div>
    <div class="flex-item">
        <img src="/media/home.png" alt="" class="round" style="background-color: #055160;width: 80%;height: 80%">
        <p>Текст под третьей фотографией</p>
    </div>
</div>
