<style>
    .call {
        position: relative;
    }

    .call-background {
        height: 80%;
        background-size: cover;
        background-attachment: fixed;
        background-image: url("/media/background/img_8.png");
        border: 10px solid black;
    }

    .call-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4); /* Цвет затемнения */
    }

    .calls form {
        border-radius: 40px;
        border: 1px solid #fff; /* Добавьте границу белого цвета */
        color: #fff; /* Измените цвет текста на белый */
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0.9;
        position: relative;
        z-index: 2;
    }

</style>

{% block content %}

    <div class="call">
        <div class="call-background">
            <div class="call-overlay">
                <div class="container" style=" margin-top: 10%">
                        <h1 style="text-align: center;color: white">Свяжитесь с нами заполнив форму</h1>
                    <div class="row" style="margin-top:10%">
                        <div class="col-md-6">
                            <div class="text-center">
                                <h2 style="color: white">Строительная группа Нархозстрой сотрудничает с риэлторскими и девелоперскими
                                    компаниями
                                    по
                                    реализации
                                    проектирования, производства и строительства индивидуальной малоэтажной и
                                    коммерческой
                                    недвижимости.<br>Мы
                                    приглашаем застройщиков и дилеров к сотрудничеству.</h2>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="calls">
                                <form class="p-1 p-md-5 border rounded-7 text-end" method="post">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <input class="form-control mb-2" name="name" placeholder="Ваше имя"/>
                                    <input class="form-control mb-2" name="email" placeholder="email"/>
                                    <input class="form-control mb-2" name="number" placeholder="8-951-*--**"/>
                                    <input class="form-control mb-2" name="message"
                                           placeholder="Дополнительная информация"/>
                                    <button type="submit" class="btn btn-danger form-control">Отправить</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
{% endblock %}


