{% extends "base.html" %}
{% block content %}

    <style>
        .call {
            position: relative;
            height: 50%;
            background-size: cover;
            background-attachment: fixed;
            background-image: url("/media/img_8.png");
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20% 0 20% 50%; /* top, right, bottom, left padding */
            border: 10px solid black;
        }

        .call::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4); /* Цвет затемнения */
        }

        .call .calls form {
            border-radius: 40px;
            border: 1px solid #fff; /* Добавьте границу белого цвета */
            color: #fff; /* Измените цвет текста на белый */
            background-color: rgba(0, 0, 0, 0.5);
            opacity: 0.9;
            padding: 20px; /* Добавьте отступы */
            width: 50%; /* Занимайте всю доступную ширину */
        }

    </style>

    <div class="call">
        <div class="text-lg-start" style="margin-left: -50%;color: white">
            <h2 style="font-size: 3vh">Свяжитесь с нами заполнив форму</h2>
        </div>

        <div class="container d">

            <div class="py-5 text-center">

                <div class="calls">
                    <form class="p-1 p-md-5 border rounded-7" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-danger form-control">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" charset="utf-8" async
            src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A6300d4806ac23516c790a7a9b838e82d01a6190f7d73010293188b7a132537a8&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>

{% endblock %}

