<style>
    .new_project {
        background-color: ghostwhite;
    }

</style>
<div class="new_project">

    <h1 style="text-align: center">Наши проекты</h1>
    <hr align="center" style="border: 2px; margin-top: 5%;margin-left: 35%;width: 30%">

    <div class="container py-4">
        <div class="p-6 mb-4 bg-body-tertiary rounded-3">
            <img src="/media/project/img_9.png" style="width: 100%;height: 50%;border: 5px solid black;">
        </div>
        <div class="row align-items-md-stretch">
            <div class="col-md-6">
                <div class="h-100 p-6 bg-body-tertiary border rounded-3 wow animate__animated animate__bounceInLeft">
                    <div id="carouselExample1" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/media/project/img_11.png" style="width: 100%;height: 100%">
                            </div>
                            <div class="carousel-item">
                                <img src="/media/project/img_11.png" style="width: 100%;height: 100%">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample1"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample1"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 wow animate__animated animate__bounceInRight">
                <div style="text-align: center">
                    <h2>Лагерь Артек</h2>
                    <h3 style="margin-top: 10%">««Артек» создан в 1925 году как небольшой летний палаточный лагерь. В
                        первый год здесь отдохнуло
                        всего 320 детей, а в 2016 году «Артек» принял полуторамиллионного артековца.</h3>
                </div>
            </div>
        </div>
    </div>

    <hr align="center" style="border: 2px; margin-top: 5%;margin-left: 35%;width: 30%">

    <div class="container py-4">
        <div class="p-6 mb-4 bg-body-tertiary rounded-3">
            <img src="/media/project/img_12.png" style="width: 100%;height: 50%">
        </div>
        <div class="row align-items-md-stretch">
            <div class="col-md-6 wow animate__animated animate__bounceInLeft">
                <div style="text-align: center">
                    <h2>Дом у леса</h2>
                    <h3>««Дом у леса» – уютный и современный барнхаус с окнами до пола и умиротворяющими видами на
                        сосновый лес. «Дом у леса» - аренда дома в Ленинградской области для уединенного и тихого
                        отдыха.</h3>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-100 p-6 bg-body-tertiary border rounded-3 wow animate__animated animate__bounceInRight">
                    <div id="carouselExample2" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/media/project/img_14.png" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="/media/project/img_14.png" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample2"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample2"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr align="center" style="border: 2px; margin-top: 5%;margin-left: 35%;width: 30%">

    <div class="container py-4">
        <div class="p-6 mb-4 bg-body-tertiary rounded-3">
            <img src="/media/project/img_16.png" style="width: 100%;height: 50%">
        </div>
        <div class="row align-items-md-stretch">
            <div class="col-md-6">
                <div class="h-100 p-6 bg-body-tertiary border rounded-3 wow animate__animated animate__bounceInLeft">
                    <div id="carouselExample3" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/media/project/img_15.png" style="width: 100%;height: 100%">
                            </div>
                            <div class="carousel-item">
                                <img src="/media/project/img_15.png" style="width: 100%;height: 100%">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample3"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample3"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 wow animate__animated animate__bounceInRight">
                <div style="text-align: center">
                    <h2>Лагерь Артек</h2>
                    <h3 style="margin-top: 10%">««Артек» создан в 1925 году как небольшой летний палаточный лагерь. В
                        первый год здесь отдохнуло
                        всего 320 детей, а в 2016 году «Артек» принял полуторамиллионного артековца.</h3>
                </div>
            </div>
        </div>
    </div>

    <hr align="center" style="border: 2px; margin-top: 5%;margin-left: 35%;width: 30%">

    <div class="container py-4">
        <div class="p-6 mb-4 bg-body-tertiary rounded-3">
            <img src="/media/project/img_24.png" style="width: 100%;height: 50%">
        </div>
        <div class="row align-items-md-stretch">
            <div class="col-md-6 wow animate__animated animate__bounceInLeft">
                <div style="text-align: center">
                    <h2>Дом Архангельск</h2>
                    <h3>Дом спроектирован по индивидуальному авторскому проекту с учетом всех современных требований
                        эргономики и качества, стремления к формированию комфортной здоровой атмосферы и условий жизни.
                        Большое пространство, солидный фундамент и широкие стены из газобетонных блоков 40 см, с
                        применением самых лучших материалов, дизайнерских решений и стандартов домостроения</h3>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-100 p-6 bg-body-tertiary border rounded-3 wow animate__animated animate__bounceInRight">
                    <div id="carouselExample4" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/media/project/img_25.png" style="width: 100%;height: 100%">
                            </div>
                            <div class="carousel-item">
                                <img src="/media/project/img_25.png" style="width: 100%;height: 100%">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample4"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample4"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr align="center" style="border: 2px; margin-top: 5%;margin-left: 35%;width: 30%">

</div>
