<style>
    .new_project {
        background-color: #DCDCDC;
    }
</style>

<div class="new_project">


    <div class="container py-4">
        <div class="p-5 mb-4 bg-body-tertiary rounded-3">
            <img src="/media/img_2.png" style="width: 100%;height: 50%">
        </div>
        <div class="row align-items-md-stretch">
            <div class="col-md-6">
                <div class="h-100 p-5 text-bg-dark rounded-3"style="text-align: center">
                    <h2>Гостиничный комплекс из клееного бруса в Анапе</h2>
                    <p>«Журавли» – современный семейный отель, построенный нами в 2013 году. Отдельно стоящий корпус из
                        клееного бруса с бассейном были возведены в кратчайшие сроки</p>
                    <button class="btn btn-outline-light" type="button">Example button</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-100 p-5 bg-body-tertiary border rounded-3">

                    <img src="/media/img_4.png" style="width: 100%;height: 50%">
                    <h2>Add borders</h2>
                </div>
            </div>
        </div>
    </div>
</div>