<style>
    .new_project {
        background-color: ghostwhite;
    }


</style>

<div class="new_project">
    <div class="container py-4">

        <h1 style="text-align: center">Наши проекты</h1>
        <hr align="center" style="border: 2px; margin-top: 5%;margin-left: 35%;width: 30%">
        <div class="p-6 mb-3 bg-body-tertiary rounded-3">
            <img src="/media/img_2.png" style="width: 100%;height: 750px">
        </div>
        <div class="row align-items-md-stretch">
            <div class="col-md-6 wow animate__animated animate__bounceInLeft">
               <div style="text-align: center">
                    <h2>Гостиничный комплекс из клееного бруса в Анапе</h2>
                    <p>«Журавли» – современный семейный отель, построенный нами в 2013 году. Отдельно стоящий корпус из
                        клееного бруса с бассейном были возведены в кратчайшие сроки</p>
                </div>
            </div>
            <div class="col-md-6 wow animate__animated animate__bounceInRight">
                    <img src="/media/img_4.png" style="width: 100%;height: 100%">
            </div>
        </div>
    </div>
 <hr align="center" style="border: 2px; margin-top: 5%;margin-left: 35%;width: 30%">
    <div class="container py-4">
        <div class="p-6 mb-4 bg-body-tertiary rounded-3">
            <img src="/media/img_9.png" style="width: 100%;height: 750px">
        </div>
        <div class="row align-items-md-stretch">
            <div class="col-md-6">
                <div class="h-100 p-6 bg-body-tertiary border rounded-3 wow animate__animated animate__bounceInLeft">
                    <img src="/media/img_11.png" style="width: 100%;height: 100%">
                </div>
            </div>
            <div class="col-md-6 wow animate__animated animate__bounceInRight">
                <div style="text-align: center">
                    <h2>Лагерь Артек</h2>
                    <p>««Артек» создан в 1925 году как небольшой летний палаточный лагерь. В первый год здесь отдохнуло
                        всего 320 детей, а в 2016 году «Артек» принял полуторамиллионного артековца.</p>
                </div>
            </div>
        </div>
    </div>
 <hr align="center" style="border: 2px; margin-top: 5%;margin-left: 35%;width: 30%">
    <div class="container py-4">
        <div class="p-6 mb-3 bg-body-tertiary rounded-3">
            <img src="/media/img_12.png" style="width: 100%;height: 750px">
        </div>
        <div class="row align-items-md-stretch">
            <div class="col-md-6 wow animate__animated animate__bounceInLeft">
                 <div style="text-align: center">
                    <h2>Дом у леса</h2>
                    <p>««Дом у леса» – уютный и современный барнхаус с окнами до пола и умиротворяющими видами на
                        сосновый лес. «Дом у леса» - аренда дома в Ленинградской области для уединенного и тихого
                        отдыха.</p>
                </div>
            </div>
            <div class="col-md-6 wow animate__animated animate__bounceInRight">
                <div class="h-100 p-6 bg-body-tertiary border rounded-3">
                    <img src="/media/img_14.png" style="width: 100%;height: 100%">
                </div>
            </div>
        </div>
    </div>
 <hr align="center" style="border: 2px; margin-top: 5%;margin-left: 35%;width: 30%">
    <div class="container py-4">

        <div class="p-6 mb-4 bg-body-tertiary rounded-3  ">
            <img src="/media/img_15.png" style="width: 100%;height: 750px">
        </div>
        <div class="row align-items-md-stretch">
            <div class="col-md-6">
                <div class="h-100 p-6 bg-body-tertiary border rounded-3 wow animate__animated animate__bounceInLeft">
                    <img src="/media/img_16.png" style="width: 100%;height: 100%">
                </div>
            </div>
            <div class="col-md-6 wow animate__animated animate__bounceInRight"">
                <div style="text-align: center">
                    <h2>Лагерь Артек</h2>
                    <p>««Артек» создан в 1925 году как небольшой летний палаточный лагерь. В первый год здесь отдохнуло
                        всего 320 детей, а в 2016 году «Артек» принял полуторамиллионного артековца.</p>
                </div>
            </div>
        </div>
                <hr style="border: 0; margin-top:10%">
    </div>
</div>
