<h1 style="margin-top: 10%;margin-bottom: 10%;text-align: center;font-size: 100px">Почему мы?</h1>
<div class="container marketing">
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">First featurette heading. <span
                    class="text-body-secondary">1</span>
            </h2>
            <p class="lead">Первый +</p>
        </div>
        <div class="col-md-5  wow animate__animated animate__bounceInRight">
            <img src="/media/background/img_3.png" style="border:2px solid black; width: 100%;height: 100%"></div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">2<span
                    class="text-body-secondary">See for yourself.</span>
            </h2>
            <p class="lead">Второй +</p>
        </div>
        <div class="col-md-5 order-md-1  wow animate__animated animate__bounceInLeft">
            <img src="/media/background/img_3.png" style=" border:2px solid black;  width: 100%;height: 100%"></div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span
                    class="text-body-secondary">3</span>
            </h2>
            <p class="lead">Третий +</p>
        </div>
        <div class="col-md-5 wow animate__animated animate__bounceInRight">
            <img src="/media/background/img_3.png" style="border:2px solid black;  width: 100%;height: 100%"></div>
    </div>
</div><!-- /.container -->