    <style>
        .up_menu{
            background-color: grey;
            width: 100%;
            height: 2%;
        }
    </style>
<header data-bs-theme="dark">
<div class="up_menu">
 <p style="color: #ffcd39; text-align: right;margin-right: 20%;word-spacing: 30px;">+7-951-888-99-99 swar@gmail.com</p>
</div>
    <nav class="menu menu-1">
        <ul>
            <li><a href="{% url "shop:main" %}">ГЛАВНАЯ</a></li>
            <li><a href="{% url "shop:list" %}">МАГАЗИН</a></li>
            <li><a href="{% url "shop:contact" %}">КОНТАКТЫ</a></li>
        </ul>
    </nav>
</header>